<div class="sidebar" id="sidebar">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="icon-dashboard bigger-130"></i>
                    <span class="menu-text" style="font-size: large"> 菜单栏 </span>
                </a>
            </li>
        </ul>
        <!-- .breadcrumb -->


        <!-- #nav-search -->
    </div>

    <div>
        <ul class="nav nav-list">
            <li id="menu_task_list">
                <a href="/reign/task/index.html">
                    <i class="icon-list"></i>
                    <span class="menu-text"> 任务列表 </span>
                </a>
            </li>

            <li  id="menu_script_list">
                <a href="/reign/script/index.html">
                    <i class="icon-list-alt"></i>
                    <span class="menu-text"> 脚本管理 $selected_menu_id</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.nav-list -->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i id="hide_menu" class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
</div>