#set($page_title="TASK")
#set($selected_menu_id="menu_script_list")
<div class="main-content" ng-app="scriptListApp" ng-controller="scriptListCtrl">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">脚本管理</a>
            </li>
            <li class="active">脚本列表</li>
        </ul>
        <!-- .breadcrumb -->

    #*<div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input"
                       id="nav-search-input" autocomplete="off">
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>*#
        <!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                脚本管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    脚本列表
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            <button class="btn btn-sm" ng-click="add()">
                                <i class="icon-plus align-bottom bigger-110"></i>
                                新增
                            </button>
                            <button id="btn_eidt" class="btn btn-sm" ng-click="edit()">
                                <i class="icon-pencil align-bottom bigger-110"></i>
                                编辑
                            </button>
                            <button class="btn btn-sm" ng-click="del()" disabled>
                                <i class="icon-remove align-bottom bigger-110"></i>
                                删除
                            </button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table" id="grid-table">
                        </table>
                        <div id="grid-pager"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog-confirm" class="hide">
            <div class="space-6"></div>
            <p class="bigger-110 bolder center grey">
                <i class="icon-hand-right blue bigger-120"></i>
                确定删除?
            </p>
        </div>
        <!-- #dialog-confirm -->
    </div>
</div>
#define($javascriptBlock)
<script type="text/javascript" src="/reign/statics/jquery.form.min.js"></script>
<script type="text/javascript" src="/reign/statics/pages/reignApps.js"></script>
<script type="text/javascript" src="/reign/statics/pages/script/scriptList.js"></script>
<script type="text/javascript" src="/reign/statics/ace/js/jqGrid/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/reign/statics/ace/js/jqGrid/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/reign/statics/ace/js/jquery-ui-1.10.3.full.min.js"></script>
#end