#set($page_title="TASK")
<div class="main-content" ng-app="taskAddApp" ng-controller="addTaskCtrl">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">任务管理</a>
            </li>
            <li class="active">任务详情</li>
        </ul>
        <!-- .breadcrumb -->

    #*<div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input"
                       id="nav-search-input" autocomplete="off">
                <i class="icon-search nav-search-icon"></i>
            </span>
        </form>
    </div>*#
        <!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                任务管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    任务详情
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" id="taskForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_task_name"> 任务名称 </label>

                        <div class="col-sm-9">
                            <input type="text" name="taskName" id="id_task_name" ng-model="taskName"
                                   class="col-xs-10 col-sm-5" value="$!task.taskName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_task_main_script"> 任务脚本 </label>

                        <div class="col-sm-9">
                            <input type="text" name="mainScript" id="id_task_main_script" ng-model="mainScript"
                                   class="col-xs-10 col-sm-5" value="$!task.mainScript">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_task_rule"> 运行规则 </label>

                        <div class="col-sm-9">
                            <input type="text" name="taskRule" id="id_task_rule" ng-model="taskRule"
                                   class="col-xs-10 col-sm-5" value="$!task.taskRule">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="id_description"> 任务描述 </label>

                        <div class="col-sm-9">
                            <textarea class="col-xs-10 col-sm-5" style="height: 100px;" name="description"
                                      id="id_description" ng-model="description" placeholder="任务描述">$!task.description</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
#define($javascriptBlock)
<script type="text/javascript" src="/reign/statics/jquery.form.min.js"></script>
<script type="text/javascript" src="/reign/statics/pages/reignApps.js"></script>
#end